* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: auto;
}

body {
  background-color: #000000;
}

h2 {
  margin-top: 100px;
  margin-bottom: 60px;
}

h2 span {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  background-color: #000000;
}

li {
  list-style-type: none;
  text-align: center;
}

main .container {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container .header .menu {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main .container .header .menu .menu__list .list__item {
  margin-right: 30px;
}

main .container .hero .wrap {
  margin-left: 80px;
  max-width: 470px;
}

main .container .hero .wrap .hero__title {
  margin-top: 160px;
  font-family: 'Merriweather', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
}

main .container .hero .wrap .hero__text {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 25px;
}

main .container .hero .wrap .hero__link {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  background-color: #BDAE82;
  padding: 8px 72px;
  color: #000000;
  margin-bottom: 330px;
}

.skills .skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills__list .list__item {
  max-width: 320px;
}

.skills .skills__list .list__item .item__image {
  margin-bottom: 50px;
}

.skills .skills__list .list__item .item__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.skills .skills__list .list__item .item__text {
  line-height: 36px;
}

.portfolio .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.portfolio .portfolio__list .list__item {
  margin-right: 5px;
}

.portfolio .portfolio__list .list__item .item__link {
  display: inline-block;
  border: 1px solid #BDAE82;
  padding: 8px 72px;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}

.portfolio .portfolio__list .list__item .item__link:hover {
  color: #000000;
  background-color: #BDAE82;
}

.contacts {
  background-image: url("../img/contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts .container {
  text-align: right;
}

.contacts .container .wrap {
  display: inline-block;
  text-align: left;
  max-width: 450px;
}
/*# sourceMappingURL=style.css.map */