* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: auto;
}

body {
  background-color: #000000;
}

.title {
  margin: auto;
  margin-top: 125px;
  margin-bottom: 85px;
  text-align: center;
  max-width: 700px;
  height: 3px;
  background-color: #BDAE82;
}

.title span {
  padding: 0 20px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  background-color: #000000;
  position: relative;
  top: -40px;
}

li {
  list-style-type: none;
  text-align: center;
}

main .container {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container .header .menu {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main .container .header .menu .menu__list .list__item {
  margin-right: 30px;
}

main .container .hero .wrap {
  margin-left: 80px;
  max-width: 470px;
}

main .container .hero .wrap .hero__title {
  margin-top: 160px;
  font-family: 'Merriweather', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
}

main .container .hero .wrap .hero__text {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 25px;
}

main .container .hero .wrap .hero__link {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  background-color: #BDAE82;
  padding: 8px 72px;
  color: #000000;
  margin-bottom: 330px;
}

.skills .skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills__list .list__item {
  max-width: 320px;
}

.skills .skills__list .list__item .item__image {
  margin-bottom: 50px;
}

.skills .skills__list .list__item .item__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.skills .skills__list .list__item .item__text {
  line-height: 36px;
}

.portfolio .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.portfolio .portfolio__list .list__item {
  margin-right: 5px;
}

.portfolio .portfolio__list .list__item .item__link {
  display: inline-block;
  border: 1px solid #BDAE82;
  padding: 8px 72px;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}

.portfolio .portfolio__list .list__item .item__link:hover {
  color: #000000;
  background-color: #BDAE82;
}

.portfolio .picture__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .picture__list li {
  margin-bottom: 10px;
  width: 450px;
}

.portfolio .picture__list li img {
  max-width: 100%;
}

.video .container .wrap {
  position: relative;
}

.video .container .wrap .video__bg {
  display: block;
  margin: auto;
  line-height: 705px;
  width: 100%;
}

.video .container .wrap .video__hover {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.video .container .wrap .video__hover:hover {
  -webkit-filter: invert(27%) sepia(16%) saturate(639%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(27%) sepia(16%) saturate(639%) hue-rotate(7deg) brightness(92%) contrast(87%);
  cursor: pointer;
}

.price .price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price .price__list .list__item {
  border: 1px solid #BDAE82;
  width: 450px;
}

.price .price__list .list__item .item__title {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  margin: 30px 0 10px;
}

.price .price__list .list__item span {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  color: #BDAE82;
}

.price .price__list .list__item .item__list {
  margin: 20px 0 30px;
  line-height: 36px;
}

.price .price__list .list__item .item__link {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  background-color: #BDAE82;
  padding: 8px 36px;
  color: #000000;
  margin-bottom: 40px;
}

.contacts {
  margin-top: 60px;
  background-image: url("../img/contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts .container {
  text-align: right;
}

.contacts .container .wrap {
  display: inline-block;
  text-align: left;
  max-width: 450px;
}

.contacts .container .wrap .contacts__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  margin: 40px 0 20px;
}

.contacts .container .wrap input, .contacts .container .wrap textarea {
  color: #BDAE82;
  width: 100%;
  background: transparent;
  border: 1px solid #BDAE82;
  margin-top: 10px;
  padding-left: 10px;
}

.contacts .container .wrap textarea {
  height: 100px;
  margin-bottom: 10px;
}

.contacts .container .wrap button {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  background-color: #BDAE82;
  padding: 8px 36px;
  color: #000000;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */