*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    // font-family: 'Merriweather', serif;
    // background-color: #000000;
    color: #ffffff;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.container{
    padding: 0 20px;
    max-width: 1440px;
    margin: auto;
}
body{
    background-color: #000000;
}

// h2{
//     background-color: #000;    
//     font-family: 'Merriweather', serif;
//     font-weight: 700;
//     font-size: 40px;
//     line-height: 80px;
//     text-align: center;
//     margin-top: 100px;
//     margin-bottom: 60px;
//     color: #BDAE82;
//     position: relative;
//     // z-index: 1;
//     &::before{
//         position: absolute;  
//         top: 40px;
//         left: 350px; 
//         content: '';    
//         display: block;                        
//         height: 2px;
//         width: 270px;
//         background-color: #BDAE82;
//         margin: auto;
//         // z-index: 1;         
//     }
//     &::after{
//         position: absolute;  
//         top: 40px;
//         right: 350px; 
//         content: '';    
//         display: block;                        
//         height: 2px;
//         width: 270px;
//         background-color: #BDAE82;
//         margin: auto;
//         // z-index: 1;         
//     }
// }

h2{
    // text-align: center;    
    margin-top: 100px;
    margin-bottom: 60px;
   
    // &::before{
        
    //     content: '';    
    //     display:inline-block; 
                           
    //     height: 2px;
    //     width: 470px;
    //     background-color: #BDAE82;
    // }    
    
    
    
    span{        
        font-family: 'Merriweather', serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 80px;
        color: #BDAE82;
        background-color: #000000;       
        
    }


}

li {
    list-style-type: none;
    text-align: center;
   }

main{
    .container{
    background-image: url("../img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header{
        .menu{
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu__list{
                display: flex;
                list-style: none;
                .list__item{
                    margin-right: 30px;
                }
            }
        }       
    }
    
    .hero{       
                 
        .wrap{
            margin-left: 80px;
            
            max-width: 470px;
            .hero__title{
                margin-top: 160px;
                font-family: 'Merriweather', serif;
                font-size: 60px;
                font-weight: 700;
                line-height: 120px;
            }
            .hero__text{
                font-size: 20px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .hero__link{
                display: inline-block;
                font-size: 20px;
                line-height: 40px;
                background-color: #BDAE82;
                padding: 8px 72px;
                color: #000000;
                margin-bottom: 330px;

            }



        }
    
        
    }

    }    
    
}

.skills{
    .skills__list{
        display: flex;
        justify-content: space-between;
        .list__item{
            max-width: 320px;
            .item__image{
                margin-bottom: 50px;
            }
            .item__title{
                font-size: 20px;
                font-weight: 700;
                line-height: 40px;
                margin-bottom: 20px;
            }
            .item__text{
                line-height: 36px;
            }
        }
    }
}

.portfolio{
    .portfolio__list{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .list__item{
            margin-right: 5px;            
            .item__link{
                display: inline-block;
                border: 1px solid #BDAE82;
                padding: 8px 72px;
                font-size: 20px;
                line-height: 40px;
                color: #BDAE82;
                &:hover{
                    color: #000000;
                    background-color: #BDAE82;
                }
            }            
        }
    }

}

.contacts{
    background-image: url("../img/contacts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        text-align: right;           
        
        
        .wrap{
            display: inline-block;
            text-align: left;
            // display: inline-flex;    
            // justify-content: flex-end;
            max-width: 450px;
            
        }
    }
    
    
}





